In [1]:
import pandas as pd
import numpy as np

In [2]:
megasena_df = pd.read_csv("megasena.csv")

In [13]:
# Visualizando as 5 primeiras linhas do dataset
megasena_df.head()

2471

In [8]:
# Printando dados estatísticos gerais do dataset
megasena_df.describe()

,Concurso,bola 1,bola 2,bola 3,bola 4,bola 5,bola 6
count,2471.000000,2471.000000,2471.000000,2471.000000,2471.000000,2471.000000,2471.000000
mean,1236.000000,30.436665,30.153784,30.757183,30.707811,30.552003,30.382436
std,713.460581,17.280513,17.363505,17.334951,17.248024,17.166806,17.200386
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,618.500000,15.500000,15.000000,16.000000,16.000000,15.000000,16.000000
50%,1236.000000,30.000000,31.000000,31.000000,31.000000,31.000000,30.000000
75%,1853.500000,45.000000,45.000000,46.000000,45.000000,45.000000,45.000000
max,2471.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000

In [8]:
# Agora, vamos descobrir quais os números que saem com mais frequência. Primeiro, vamos pegar todos os números que 
# saíram em cada bola e concatenar em um único array
bola_1 = megasena_df['bola 1'].to_numpy()
bola_2 = megasena_df['bola 2'].to_numpy()
bola_3 = megasena_df['bola 3'].to_numpy()
bola_4 = megasena_df['bola 4'].to_numpy()
bola_5 = megasena_df['bola 5'].to_numpy()
bola_6 = megasena_df['bola 6'].to_numpy()

all_numbers_array = np.concatenate([bola_1, bola_2, bola_3, bola_4, bola_5, bola_6])

In [10]:
# Agora, usamos esse array para agrupar os números e contar quantos tem de cada um.

def get_count_array(arr):
    unique, counts = np.unique(all_numbers_array, return_counts=True)
    return np.asarray((unique, counts)).T

def reverse_count_array(arr):
    return arr[arr[:,1].argsort()[::-1]]

numbers_count = reverse_count_array(get_count_array(all_numbers_array))
numbers_count

array([[ 53, 284],
       [ 10, 281],
       [ 42, 271],
       [  5, 270],
       [ 37, 268],
       [ 33, 266],
       [ 23, 264],
       [  4, 264],
       [ 30, 263],
       [ 27, 261],
       [ 28, 261],
       [ 41, 261],
       [ 54, 261],
       [ 35, 260],
       [ 34, 260],
       [ 29, 259],
       [ 44, 258],
       [ 16, 258],
       [ 51, 258],
       [ 11, 258],
       [ 17, 257],
       [ 43, 257],
       [ 24, 256],
       [ 32, 254],
       [ 49, 254],
       [ 38, 254],
       [ 36, 253],
       [  2, 253],
       [ 13, 252],
       [ 56, 251],
       [  8, 251],
       [  6, 249],
       [ 52, 249],
       [ 46, 246],
       [ 50, 242],
       [ 18, 242],
       [ 58, 240],
       [ 12, 239],
       [ 20, 238],
       [  1, 238],
       [ 45, 238],
       [ 40, 237],
       [ 47, 237],
       [ 25, 236],
       [ 57, 235],
       [  7, 235],
       [ 19, 235],
       [ 39, 233],
       [ 60, 233],
       [ 31, 233],
       [ 59, 233],
       [  9, 232],
       [ 14, 232],
       [ 48, 228],
       [  3, 228],
       [ 15, 217],
       [ 22, 217],
       [ 21, 212],
       [ 55, 209],
       [ 26, 205]], dtype=int64)

In [28]:
# Pelo array obtido no item acima, podemos afimar que, até o momento, o número 53 é o número que mais saiu nos sorteios. 
# Além disso, poderíamos dizer que o jogo da megasena com os números mais frequentes é o seguinte
# 5-10-33-37-42-53

In [14]:
# Uma outra abordagem seria, ao invés de unir todos números e ver quais são os mais frequentes, podemos fazer isso para
# cada bola e ver se obtemos um resultado diferente.

#Bola 1
bola1_count = reverse_count_array(get_count_array(bola_1))

#Bola 2
bola2_count = reverse_count_array(get_count_array(bola_2))

#Bola 3
bola3_count = reverse_count_array(get_count_array(bola_3))

#Bola 4
bola4_count = reverse_count_array(get_count_array(bola_4))

#Bola 5
bola5_count = reverse_count_array(get_count_array(bola_5))

#Bola 6
bola6_count = reverse_count_array(get_count_array(bola_6))

best_ticket = [bola_1[0], bola_2[0], bola_3[0], bola_4[0], bola_5[0], bola_6[0]]
best_ticket.sort()

print(best_ticket)

[8, 23, 29, 30, 36, 55]

In [15]:
# Pelo resposta obtido acima, vemos que se usarmos os números mais frequentes de cada bola, o jogo ideal seria: 
# 8-23-29-30-36-55